 
.unlock{
    float: right;
    display: flex; /* or inline-flex */
    /* padding-top: 2rem; */
    /* padding-right: 2rem; */

    margin: 2rem;
}
.inLine{
    /* margin: 2rem; */
padding: 0.5rem;
    /* display: none */
    list-style-type:none;
}