.menu-body{
    box-sizing: border-box;
    box-shadow: 3px solid ghostwhite;
    text-align:center;
    background-color: red;
    // float: left;
}
#outer-container{
    display: block;
    background-color: red;
}