img.right {
    
    display: block;
    float:left;margin-right:3rem;
  }
 img.left {
    word-break: break-all; 
    display: block;
    float:left;
    padding:10px;

      padding-right: 7rem;
  }
  img.push{

    display: block;
  }
  p{
      font-size: large;
      font-weight: 500;
  }
  a{
    color: white
  }
